# Import the dataset

In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df=pd.read_csv('VCA data nomap.csv')
df.head()

,Unit_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,Prsn_Rest_ID,Prsn_Airbag_ID,...,Longitude,Pop_Group_ID,Unit_Desc_ID,Veh_Parked_Fl,Veh_HNR_Fl,Veh_Mod_Year,Veh_Color_ID,Veh_Make_ID,Veh_Mod_ID,Veh_Body_Styl_ID
0,1,1,1,5,48.0,1.0,1,1,1,2,...,-93.893906,1.0,1,0,0,2002.0,21.0,107.0,547.0,69.0
1,2,1,1,2,58.0,1.0,2,1,1,3,...,-93.893906,1.0,1,0,0,2012.0,17.0,91.0,629.0,30.0
2,1,1,1,5,68.0,1.0,1,1,1,2,...,-96.596654,8.0,1,0,0,1996.0,21.0,672.0,2103.0,87.0
3,3,1,1,5,67.0,1.0,2,1,1,4,...,-96.596654,8.0,1,0,0,2016.0,21.0,44.0,605.0,69.0
4,1,1,1,5,36.0,2.0,2,1,1,2,...,-95.746539,0.0,1,0,0,2014.0,2.0,91.0,380.0,104.0

In [4]:
df.Prsn_Injry_Sev_ID.unique()

array([5, 2, 1, 3, 4], dtype=int64)

## Check feature types

In [12]:
feat_types=df.dtypes

In [13]:
feat_types.unique()

array([dtype('int64'), dtype('float64'), dtype('O')], dtype=object)

# Categorical variables

In [14]:
cate_vars=df.dtypes[df.dtypes=='object']
cate_vars=cate_vars.index
cate_vars

Index(['Day_of_Week'], dtype='object')

## Time

In [8]:
time=df['Crash_Date']+' '+df['Crash_Time']
time=pd.to_datetime(time)

In [9]:
df.drop(columns=['Crash_Date','Crash_Time'],inplace=True)

In [10]:
df['Crash_month']=time.apply(lambda x: x.month)
df['Crash_day']=time.apply(lambda x: x.day)
df['Crash_hour']=time.apply(lambda x: x.hour)
df['Crash_min']=time.apply(lambda x: x.minute)

In [11]:
df.head()

,Unit_Nbr,Prsn_Type_ID,Prsn_Occpnt_Pos_ID,Prsn_Injry_Sev_ID,Prsn_Age,Prsn_Ethnicity_ID,Prsn_Gndr_ID,Prsn_Ejct_ID,Prsn_Rest_ID,Prsn_Airbag_ID,...,Veh_HNR_Fl,Veh_Mod_Year,Veh_Color_ID,Veh_Make_ID,Veh_Mod_ID,Veh_Body_Styl_ID,Crash_month,Crash_day,Crash_hour,Crash_min
0,1,1,1,5,48.0,1.0,1,1,1,2,...,0,2002.0,21.0,107.0,547.0,69.0,6,15,11,0
1,2,1,1,2,58.0,1.0,2,1,1,3,...,0,2012.0,17.0,91.0,629.0,30.0,6,15,11,0
2,1,1,1,5,68.0,1.0,1,1,1,2,...,0,1996.0,21.0,672.0,2103.0,87.0,6,12,9,53
3,3,1,1,5,67.0,1.0,2,1,1,4,...,0,2016.0,21.0,44.0,605.0,69.0,6,12,9,53
4,1,1,1,5,36.0,2.0,2,1,1,2,...,0,2014.0,2.0,91.0,380.0,104.0,6,4,15,7

In [65]:
min(time)

Timestamp('2019-06-01 00:00:00')

In [66]:
max(time)

Timestamp('2019-11-30 23:57:00')

In [19]:
df['Day_of_Week'].value_counts()/len(df)*100

6    17.208709
3    15.356067
4    15.275230
5    15.232785
2    14.531486
7    12.802126
1     9.593596
Name: Day_of_Week, dtype: float64

In [16]:
map_dict = {'SAT':7, 'WED':4, 'TUE':3, 'SUN':1, 'MON':2, 'THU':5, 'FRI':6}

In [18]:
df['Day_of_Week'] = df['Day_of_Week'].map(map_dict)

In [23]:
df['Day_of_Week'].isin([1,7])

0          True
1          True
2         False
3         False
4         False
          ...
468839    False
468840    False
468841    False
468842    False
468843    False
Name: Day_of_Week, Length: 468844, dtype: bool

In [24]:
df['Weekend'] = np.where(df['Day_of_Week'].isin([1,7]),1,0)

In [26]:
df['Weekend'].value_counts()/len(df)*100

0    77.604278
1    22.395722
Name: Weekend, dtype: float64

## Other categorical variables

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468844 entries, 0 to 468843
Data columns (total 41 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unit_Nbr                  468844 non-null  int64
 1   Prsn_Type_ID              468844 non-null  int64
 2   Prsn_Occpnt_Pos_ID        468844 non-null  int64
 3   Prsn_Injry_Sev_ID         468844 non-null  int64
 4   Prsn_Age                  468844 non-null  float64
 5   Prsn_Ethnicity_ID         468844 non-null  float64
 6   Prsn_Gndr_ID              468844 non-null  int64
 7   Prsn_Ejct_ID              468844 non-null  int64
 8   Prsn_Rest_ID              468844 non-null  int64
 9   Prsn_Airbag_ID            468844 non-null  int64
 10  Prsn_Helmet_ID            468844 non-null  int64
 11  Prsn_Drg_Rslt_ID          468844 non-null  int64
 12  Day_of_Week               468844 non-null  int64
 13  Rpt_Rdwy_Sys_ID           468844 non-null  int64
 14  Rpt_Road_Part_ID          468844 non-null  int64
 15  Toll_Road_Fl              468844 non-null  int64
 16  Crash_Speed_Limit         468844 non-null  int64
 17  Road_Constr_Zone_Fl       468844 non-null  int64
 18  Road_Constr_Zone_Wrkr_Fl  468844 non-null  int64
 19  At_Intrsct_Fl             468844 non-null  int64
 20  Wthr_Cond_ID              468844 non-null  int64
 21  Light_Cond_ID             468844 non-null  int64
 22  Road_Algn_ID              468844 non-null  int64
 23  Surf_Cond_ID              468844 non-null  int64
 24  Traffic_Cntl_ID           468844 non-null  int64
 25  Latitude                  468844 non-null  float64
 26  Longitude                 468844 non-null  float64
 27  Pop_Group_ID              468844 non-null  float64
 28  Unit_Desc_ID              468844 non-null  int64
 29  Veh_Parked_Fl             468844 non-null  int64
 30  Veh_HNR_Fl                468844 non-null  int64
 31  Veh_Mod_Year              468844 non-null  float64
 32  Veh_Color_ID              468844 non-null  float64
 33  Veh_Make_ID               468844 non-null  float64
 34  Veh_Mod_ID                468844 non-null  float64
 35  Veh_Body_Styl_ID          468844 non-null  float64
 36  Crash_month               468844 non-null  int64
 37  Crash_day                 468844 non-null  int64
 38  Crash_hour                468844 non-null  int64
 39  Crash_min                 468844 non-null  int64
 40  Weekend                   468844 non-null  int32
dtypes: float64(10), int32(1), int64(30)
memory usage: 144.9 MB

In [45]:
df.Prsn_Age.astype('int')

0         48
1         58
2         68
3         67
4         36
          ..
468839    68
468840    44
468841    57
468842    16
468843    16
Name: Prsn_Age, Length: 468844, dtype: int32

In [46]:
for var in df.columns:
    if df[var].dtypes=='float':
        if var not in ['Latitude','Longitude']:
            print(var)
            df[var] = df[var].astype('int')
df.dtypes

Prsn_Age
Prsn_Ethnicity_ID
Pop_Group_ID
Veh_Mod_Year
Veh_Color_ID
Veh_Make_ID
Veh_Mod_ID
Veh_Body_Styl_ID

Unit_Nbr                      int64
Prsn_Type_ID                  int64
Prsn_Occpnt_Pos_ID            int64
Prsn_Injry_Sev_ID             int64
Prsn_Age                      int32
Prsn_Ethnicity_ID             int32
Prsn_Gndr_ID                  int64
Prsn_Ejct_ID                  int64
Prsn_Rest_ID                  int64
Prsn_Airbag_ID                int64
Prsn_Helmet_ID                int64
Prsn_Drg_Rslt_ID              int64
Day_of_Week                   int64
Rpt_Rdwy_Sys_ID               int64
Rpt_Road_Part_ID              int64
Toll_Road_Fl                  int64
Crash_Speed_Limit             int64
Road_Constr_Zone_Fl           int64
Road_Constr_Zone_Wrkr_Fl      int64
At_Intrsct_Fl                 int64
Wthr_Cond_ID                  int64
Light_Cond_ID                 int64
Road_Algn_ID                  int64
Surf_Cond_ID                  int64
Traffic_Cntl_ID               int64
Latitude                    float64
Longitude                   float64
Pop_Group_ID                  int32
Unit_Desc_ID                  int64
Veh_Parked_Fl                 int64
Veh_HNR_Fl                    int64
Veh_Mod_Year                  int32
Veh_Color_ID                  int32
Veh_Make_ID                   int32
Veh_Mod_ID                    int32
Veh_Body_Styl_ID              int32
Crash_month                   int64
Crash_day                     int64
Crash_hour                    int64
Crash_min                     int64
Weekend                       int32
dtype: object

In [47]:
df.dropna().to_csv('final data nomap.csv',index=False)